.hiden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

                /* reset */

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

                /*  common  */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    } 
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

                /*header*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .nav-list {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .nav-list-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-list-link:hover::after,
    .nav-list-link:focus::after,
    .nav-list-link.current::after {
        opacity: 1;
    }

    .nav-list-link::after {
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -1px;
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #404bbf;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-list-link:hover,
    .nav-list-link:focus,
    .contacts-link:hover,
    .contacts-link:focus,
    .nav-list-link.current {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        gap: 40px;
        align-items: center;
    }

    .contacts-link {
        display: block;
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu.is-open .mobile-menu-nav-list>li:nth-child(1) .mobile-menu-nav-link {
    transition-delay: 200ms;
}

.mobile-menu.is-open .mobile-menu-nav-list>li:nth-child(2) .mobile-menu-nav-link {
    transition-delay: 350ms;
}

.mobile-menu.is-open .mobile-menu-nav-list>li:nth-child(3) .mobile-menu-nav-link {
    transition-delay: 500ms;
}
.mobile-menu-nav-link {    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;

    opacity: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 550ms ease-out;
}

.mobile-menu.is-open .mobile-menu-nav-link {
    opacity: 1;
}

.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus {
    color: #404bbf;
}

.mobile-menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-bottom: 48px;
}

.mobile-menu-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-contacts-link:focus,
.mobile-menu-contacts-link:active {
    color: #404bbf;
}

.mobile-section-team-socials {
    display: flex;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/*main*/

/*section start*/

.section-start {
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/people-office.jpg");
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.start-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;

    max-width: 216px;
    margin: auto;
    margin-bottom: 72px;
}

.start-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.start-button:hover,
.start-button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .section-start {
    padding: 112px 0;
    }

    .start-title {
        font-size: 56px;
        line-height: 1.07;

        max-width: 496px;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .section-start {
        padding: 188px 0;
    }

    .start-title {
        margin-bottom: 48px;
    }
}

/*section core principles*/

.section-principles {
    padding: 96px 0;
    margin: 0 auto;
}

.princeples-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.icons {
    display: none;
}

.principles-list-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

    margin-bottom: 8px;
}

.principles-list-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .princeples-list {
        row-gap: 72px;
        column-gap: 24px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .principles-list-item {
        width: calc((100% - 24px) / 2);
    }

    .principles-list-title {
        text-align: start;
    }
}


@media screen and (min-width: 1158px) {
    .section-principles {
        padding: 120px 0;
    }

    .princeples-list {
        flex-wrap: nowrap;
    }

    .principles-list-item {
        width: calc((100% - 72px) / 4);
    }

    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }

    .principles-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .principles-list-text {
        font-weight: 400;
    }
}

/*section our team*/

.section-team {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.section-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;

    margin-bottom: 72px;
}

.section-team-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
    align-items: center;
}

.section-team-list-item {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.members {
    padding: 32px 0;
}

.section-team-members {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px;
}

.section-team-text {
    font-weight: 400;
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
}

.section-team-socials {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-icons-item {
    width: 40px;
    height: 40px;
}

.social-icons {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.social-icons:hover,
.social-icons:focus {
    background-color: #404bbf;
}

.iconssvg {
    fill: #f4f4fd
}

@media screen and (min-width: 768px) {
    .section-team-list {
        column-gap: 24px;
        row-gap: 64px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
    .section-team {
        padding: 120px 0;
    }

    .section-team-list-item {
        width: calc((100% - 72px) / 4);
    }
}

/*section portfolio*/

.section-portfolio {
    padding: 96px 0;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;

    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: 100%;
}

.portfolio-list-item {
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    cursor: pointer;
}

.portfolio-list-item:hover .portfolio-hide-text {
    transform: translateY(0%);
}

.portfolio-list-image {
    position: relative;
    overflow: hidden;
}

.portfolio-hide-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subcontainer {
    width: 100%;
    min-height: 120px;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px;
}

.portfolio-list-text {
    font-weight: 400;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        row-gap: 72px;
    }

    .portfolio-list-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .section-portfolio {
        padding: 120px 0;
    }

    .portfolio-list {
        row-gap: 48px;
    }

    .portfolio-list-item {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: none;
    }

    .portfolio-list-item:hover {
        box-shadow:
            0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
        cursor: pointer;
    }
}

/*footer*/

.page-footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.page-footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.page-footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;

    text-align: center;
    margin-bottom: 16px;
    margin-top: 72px;
}

.section-footer-socials {
    display: flex;
    gap: 16px;
}

.footer-list-item {
    width: 40px;
    height: 40px;
}

.footer-social-icons {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons:hover,
.footer-social-icons:focus {
    background-color: #31d0aa;
}

.subscribeform-container {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.subscribeform-container-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
}

.subscribeform {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
}

.subscribeform-input {
    opacity: 0.3;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribeform-input::placeholder {
    opacity: 0.6;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.subscribeform-input:focus {
    border: 1px solid #404bbf;
}

.subscribeform-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    border: none;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribeform-svg {
    fill: #fff;
}

.subscribeform-button:hover,
.subscribeform-button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .page-footer {
        background-color: #2e2f42;
        padding: 96px 0 96px 92px;
        }

    .page-footer .container {
        align-items: baseline;
    }

    .footer-wrap-tablet {
        display: flex;
        gap: 24px;
    }

    .footer-container-logo {
        width: 264px;
        height: 112px;
        align-items: start;
    }

    .footer-logo {
        display: inline-block;
        margin-bottom: 16px;
    }
    
    .footer-social-text {
        text-align: start;
        margin: 0;
        margin-bottom: 16px;
    }

    .subscribeform-container {
        margin-right: auto;
        display: flex;
    }

    .subscribeform-container-text {
        text-align: start;
    }

    .subscribeform {
        display: flex;
        gap: 24px;
        flex-direction: row;
    }

    .subscribeform-input {
        width: 264px;
    }
}    

@media screen and (min-width: 1158px) {
    .page-footer {
        padding: 100px 0;
    }

    .page-footer .container {
        flex-direction: row;
    }

    .footer-wrap-tablet {
        gap: 0;
    }

    .page-footer .container {
        display: flex;
        align-items: baseline;
    }

    .footer-container-logo {
        margin-right: 120px;
    }

    .subscribeform-container {
        margin: 0;
        margin-left: auto;
    }
}

/*modal form*/

.madalform-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.madalform-background.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.madalform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}

.madalform-background:not(.is-open) .madalform {
    transform: translate(-50%, -50%) scale(1.5);
}

.madalform-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.madalform-button:hover,
.madalform-button:focus {
    background-color: #404bbf;
    border: none;
}

.madalform-button:hover .madalform-button-svg,
.madalform-button:focus .madalform-button-svg {
    fill: #ffffff
}

.madalform-button-svg {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.madalform-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

    margin-bottom: 16px;
}

.madalform-form {
    margin-bottom: 8px;
}

.madalform-user-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;

    margin-bottom: 4px;
}

.madalform-user-label-div {
    position: relative;
}

.madalform-user-label-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 34px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.madalform-user-label-input:focus {
    border-color: #4D5AE5;
}

.madalform-user-label-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.madalform-user-label-div:focus-within .madalform-user-label-svg {
    fill: #4D5AE5;
}

.madalform-form-comment {
    margin-bottom: 16px;
}

.madalform-comment-textarea {
    color: #8e8f99;
    width: 100%;
    height: 120px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;

    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.madalform-comment-textarea:focus {
    border-color: #4D5AE5;
}

.madalform-form-policy {
    margin-bottom: 24px;
}

.madalform-form-policy-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

    display: flex;
    align-items: center;
    gap: 8px;
}

.madalform-form-policy-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

#user-privacy:checked+.madalform-form-policy-label .madalform-form-policy-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.madalform-form-policy-link {
    color: #4d5ae5;
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.madalform-form-policy-link:hover,
.madalform-form-policy-link:focus {
    color: #404bbf;
}

.madalform-form-button {
    display: block;
    min-width: 169px;
    border-radius: 4px;
    padding: 16px 32px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.madalform-form-button:hover,
.madalform-form-button:focus {
    background-color: #404bbf;
}



@media screen and (min-width: 768px) {
    .madalform {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
    .madalform-form-policy-wrapper {
        display: flex;
        gap: inherit;
    }

    .madalform-form-policy-label {
        justify-content: flex-start;
        align-items: baseline;
    }
}
